body{
    background-image: url(/IMG/fondo1.png)
}

div#credenciales{
    width: 700px;
    height: 500px;
    margin-top:2%;
}

div#imagen img{
    width: 150px;
    margin-left:38%;
}

form#formulario{
    width: 500px;
    height: 250px;
    margin-left:14%;
}

#t1{
    margin-left: 15%;
}

#t2{
    margin-left: 15%;
}

p#clave{
    margin-left: 20%;
}

form#formulario p{
    margin-left: 15%;
    font-size: 17px;
}

input#usuario{
    margin-left: 15%;
    font-size: 17px;
    height: 34px;
    width: 350px;
    margin-top:-2%;
    
}

input#clave{
    margin-left: 15%;
    font-size: 17px;
    height: 34px;
    width: 350px;
    margin-top:-2%;
    
}

input#btn-log{
    margin-left: 35%;
    margin-top:5%;
    font-size:20px;
    width:150px;
    height:40px;
    background-color:blue;
    border-radius: 10px;
    color:white;
}